@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Lato&display=swap");

$primary-100: hsl(209, 81%, 50%);
$primary-200: hsl(209, 81%, 40%);
$primary-300: hsl(209, 81%, 30%);
$secondary-100: #ff7300;
$secondary-200: hsl(27, 100%, 60%);
$secondary-300: #ffab66;
$error-100: hsl(352, 81%, 58%);
$text-light: hsl(0, 0%, 97%);
$h1-color: hsl(0, 0%, 15%);
$h2-color: hsl(0, 0%, 6%);
$body-bg: hsl(0, 0%, 97%);
$transition-1: background-color 0.5s, transform 2s;
$fa-font-path: "../webfonts";


$tertiary: #fff;
$font-header: "Lato", sans-serif;
$font-body: "Fruktur", cursive;

//borders
$bdr-rounded-25: 25px;