@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Lato&display=swap");

$primary-100: hsl(209, 81%, 50%);
$primary-200: hsl(209, 81%, 40%);
$primary-300: hsl(209, 81%, 30%);
$secondary-100: hsl(27, 100%, 50%);
$secondary-200: hsl(27, 100%, 60%);
$secondary-300: hsl(27, 100%, 70%);
$h1-color:#272727;
$h2-color:#0f0f0f;
$body-bg:#f7f7f7;
$transition-1:background-color 0.5s, transform 2s;



$tertiary: #fff;
$font-header: "Lato", sans-serif;
$font-body: "Fruktur", cursive;
