<section id="chat">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="contain">
                            <div class="divin">

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Message Input Box -->
                <div class="row mt-2">
                    <div class="col-8">

                        <input name="message" />
                    </div>
                    <div class="col-4">
                        <input type="button" id="sendButton" class="btn float-right btn-dark m-1"
                            value="Send Message" />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <app-chat-users></app-chat-users>
            </div>

        </div>
    </div>
</section>