<form #loginForm="ngForm" (ngSubmit)="login()">
  <ul class="navbar-nav d-flex align-items-center">
    <li class="valmess"></li>
    <li class="position-relative">
      <div class="txtbox-wrap position-relative">
        <div [@labelAnimate]="animateUserName?'over':'left'" class="position-absolute inputlbl">User name</div>
        <input (focus)="animateUserNameFn()" (mouseover)="animateUserNameFn()" name="userName" type="text" id="userName"
          [(ngModel)]="model.userName" class="form-control textinput" />
      </div>
      <!-- <span asp-validation-for="Login.Email" class="valmess"></span> -->
    </li>
    <li class="position-relative mar-sm">
      <div class="txtbox-wrap position-relative">
        <div [@labelAnimate]="animatePassword?'over':'left'" class="position-absolute inputlbl">Password</div>
        <input (focus)="animatePasswordFn()" (mouseover)="animatePasswordFn()" name="password" type="text" id="password"
          [(ngModel)]="model.password" class="form-control textinput" />
      </div>
      <!-- <span asp-validation-for="Login.Password" class="valmess"></span> -->
    </li>

    <li>
      <div class="form-check form-switch">
        <input class="form-check-input bg-second" [(ngModel)]="model.remember"  id="remember" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label text-light" for="flexSwitchCheckChecked">Remember Me</label>
      </div>
    </li>
  
    <li>
      <input type="submit" value="LOGIN" />
    </li>
  </ul>
</form>