<div *ngIf="!logged">

  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-bg border-bottom box-shadow">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"> Chat-n-You</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon border border-info text-light">
            <i class="fas fa-1x pad-ico fa-angle-double-down"></i></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <app-login></app-login>
        </div>
      </div>
      <button (click)="logOut()">LogOut</button>
      <button (click)="test()">Test</button>
    </nav>
  </header>
</div>

<div *ngIf="logged">

  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-bg border-bottom box-shadow">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/secure']"> Chat-n-You</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon border border-info text-light">
            <i class="fas fa-1x pad-ico fa-angle-double-down"></i></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        </div>
      </div>
      <button (click)="logOut()">LogOut</button>
      <button (click)="test()">Test</button>
    </nav>
  </header>
</div>