<!-- <section id="navbar">
  <div *ngIf="!logged">
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-lg box-shadow">
        <div class="container">
          <a class="navbar-brand" [routerLink]="['/']"><b> Chat-n-You</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon border border-info text-light">
              <i class="fas fa-1x pad-ico fa-angle-double-down"></i></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <app-login-reactive></app-login-reactive>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <div *ngIf="logged">
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
        <div class="container">
          <a class="navbar-brand" [routerLink]="['/secure']"> Chat-n-You</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon border border-info text-light">
              <i class="fas fa-1x pad-ico fa-angle-double-down"></i></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <app-logout></app-logout>
          </div>
        </div>
      </nav>
    </header>
  </div>
</section> -->

<!-- <section id="navigation">
  <div class="logo">
    <a href="#">Chat-n-You</a>
  </div>
  <div class="navigation">
    <ul>
      <li>
        <a href="#">One</a>
      </li>
      <li>
        <a href="#">Two</a>
      </li>
      <li>
        <a href="#">Three</a>
      </li>
    </ul>
    <div class="toggler">

    </div>
  </div>
</section> -->
<section id="navbar">
  <mdb-navbar SideClass="navbar navbar-expand-lg">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/']"> Chat-n-You</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
      <!-- Login form -->
      <div>
        <div *ngIf="logged; else loginForm">
          <app-logout></app-logout>
        </div>
        <ng-template #loginForm>
          <app-login-reactive></app-login-reactive>
        </ng-template>

      </div>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
</section>