<div class="container-fluid">
  <div class="row">
    <!-- Left Section -->
    <div class="col-lg-6">
      <div class="row">
        <div class="col text-center">
          <h1>
            Its as simple as it gets !
          </h1>
        </div>
      </div>
      
      <div class="row">
        <div class="col position-relative text-center">
          <button (click)="regBtnFn()">Create Account</button>
          <div [@regDown]="anime?'down':'up'" class="rego">
            <app-register></app-register>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col text-center">
          <div class="display-4">Find your Mate</div>
        </div>
      </div>
      <div class="row">
        <div class="text-center flex-column col-sm">
          <img src="../assets/img/pic1.jpg" class="img-fluid rounded shadow shadow-cus rounded-circle" />
          <h1>Wow</h1>
          <p>I finally found my perfect match, thanks to chatnYou</p>
        </div>
        <div class="text-center col-sm">
          <img src="../assets/img/pic2.jpg" class="img-fluid rounded shadow shadow-cus rounded-circle" />
          <h1>Damn</h1>
          <p>
            Its so good to be able to chat with someone and get amazed looking
            for the perfect friend, or more.
          </p>
        </div>
        <div class="text-center col-sm">
          <img src="../assets/img/pic3.jpg" class="img-fluid rounded shadow shadow-cus rounded-circle" />
          <h1>^-^</h1>
          <p>
            I started with chat, went on with exchanging numbers and finally
            date.
          </p>
        </div>
      </div>

      <div class="row font-montserrat">
        <div class="col">
          <ul class="list-group shadow rounded h5">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              1) Start free fun chat with random people.
             <span class="material-icons-outlined">
                assignment_returned
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              2) If it clicks (^-^) Express mutual concent to verify email
              addresses, and phone numbers.
              <i class="far badge badge-pill badge-info fa-2x fa-check-circle"><span class="font-montserrat">
                  FREE</span></i>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              3) Get in touch.
              <i class="far badge badge-pill badge-info fa-2x fa-check-circle"><span class="font-montserrat">
                  FREE</span></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Section -->
    <div class="col-lg-6">
      <div class="row">
        <div class="col text-center">
         <h1>Chat-n-you is a Free Chat</h1>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <img src="../assets/img/people2.svg" class="img-fluid rounded shadow shadow-cus img-anime rounded-circle" />
        </div>
      </div>
    </div>
  </div>
</div>