<form #regForm="ngForm" (ngSubmit)="regUser()">
  <div class="container mt-3 bg-2 pt-2 pb-2 white-bg shadow rounded">
    <div class="row">
      <div class="col">
        <h2 class="head-3">Create your account and start chating</h2>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Email Address</div>
          <input required [(ngModel)]="model.emailAddress" name="emailAddess" type="text" id="emailAddress"
            class="form-control" #emailAddressControl="ngModel" />
        </div>
      </div>
    </div>
    <div>touched:{{ emailAddressControl.touched }}</div>

    <div class="row mt-2">
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Chat user name</div>
          <input [(ngModel)]="model.userName" name="userName" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Password</div>
          <input [(ngModel)]="model.passWord" name="password" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Confirm Password</div>
          <!-- <input [(ngModel)] = "model.passWord" name = "password" type ="text"/> -->
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Gender</div>
          <input [(ngModel)]="model.gender" name="gender" type="text" class="form-control" />
        </div>
      </div>
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Age</div>
          <input [(ngModel)]="model.age" name="age" type="number" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">Country</div>

          <input [(ngModel)]="model.country" name="country" type="text" class="form-control" />
        </div>
      </div>
      <div class="col">
        <div class="txtbox-wrap position-relative">
          <div class="position-absolute inputlbl">State</div>
          <input [(ngModel)]="model.state" name="state" type="text" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col text-center">
        <input type="submit" class="btn nav-bg text-light" value="Start Chat" />
      </div>
    </div>
  </div>
</form>