<section id="notify">
    <div class="container">
        <div *ngIf="!status" class="notify-box fail">
            <div class="message">
                <h4><span>Notification</span> <i class="material-symbols-outlined">
                        bolt
                    </i> </h4>
                <p>{{message}}
                </p>
            </div>
            <div class="counter">
                <a (click)="closeNotify()">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                </a>
                <div>Closing in ({{counter}})
                </div>
            </div>
        </div>
        <div *ngIf="status" class="notify-box pass">
            <div class="message">
                <h4><span>Notification</span> <i class="material-symbols-outlined">
                        bolt
                    </i> </h4>
                <p>{{message}}
                </p>
            </div>
            <div class="counter">
                <a (click)="closeNotify()">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                </a>
                <div>Closing in ({{counter}})
                </div>
            </div>
        </div>
    </div>
</section>